/*css for color html*/
/*Name: Juan Mason
Dec 4, 2013*/
/*Validated Dec 5, 2013*/


/*---font type and cloro for h1---*/
h1{
	font-family: Impact;
	font-size: 350%;
	word-spacing: .25em;
	text-shadow: 2px 2px 0px white;
	text-align: center;
	color: #de1809;
	border-left: 2px solid #ff8114;
	border-right: 2px solid #ff8114;
	border-top: 2px solid #ff8114;
	border-bottom: 2px solid #ff8114;
	background-color: #1526de;
	
}

/*---#color for h2 bg and font--*/

h2{
	text-transform: uppercase;
	letter-spacing: 0.25em;
	border-width: 2px 0px;
	background-color: #ff8114;
	font-family: Helvetica, sans-serif;
	text-shadow: 2px 2px 0px white;
}

/*---p font & family---*/
p {
	text-indent: 20px;
	font-family: Arial, sans-serif;
	border-left: 2px solid #ff8114;
	border-right: 2px solid #ff8114;
	border-top: 2px solid #ff8114;
	border-bottom: 2px solid #ff8114;
	margin-top: 1.5em;
  	margin-right: 1.5em;
  	margin-bottom: 1em;
  	margin-left: 15em;
	background: #fae0bf;
}
/*body bg #color*/
body{
	background-color: #fae9bf;
	
}


/*link psudeo-classes*/
a:link {
	color: #1526de;
	text-decoration: none;
}
a:visited {
	color: #de1809;
}
a:hover {
	color: orange;
}
a:active{
	color: black;
}

/*list-style*/
ul {
	list-style: inside square;
	width: 250px;
}
li {
	font-size: 115%;
	margin: 7px 0px 0px 0px;
}
/*add drop shadow to stron & #color*/
strong{
	text-shadow: 2px 1px 0px white;
	color: #1526de;

}