/*css for layout html*/
/*Name: Juan E.Mason
Dec 10, 2013*/
/*Validated Dec 5, 2013*/


header, section, footer, aside, nav, article, figure, figcaption {
display: block;}


body { 
	background:url('../images/sand-blossom.gif');
	background-repeat: repeat;
	width: 95%; 	
	margin: 0 auto;
}
#content { 
	overflow: auto; 

}

 section, footer { 
	width:45%; float: left;
	margin: 10px;
} 



/*--- h1 ---*/
h1{
	font-family: Impact;
	font-size: 3.5em;
	word-spacing: .25em;
	text-shadow: 2px 2px 0px white;
	text-align: center;
	color: #de1809;
	/*border: 2px; 
	border: solid #ff8114;
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 5px 5px 5px #777777;
	-moz-box-shadow: 5px 5px 5px #777777;
	-webit-box-shadow: 5px 5px 5px #777777;
	background-color: #1526de;*/
	background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C */
}

/*--- h2 ---*/

h2{
	text-transform: uppercase;
	color: rgb(247,021,021);
	letter-spacing: 0.25em;
	padding: 5px;
	border-width: 2px 0px;
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 5px 5px 5px #777777;
	-moz-box-shadow: 5px 5px 5px #777777;
	-webit-box-shadow: 5px 5px 5px #777777;
	background-color: #ff8114;
	background: linear-gradient(
		to bottom, rgba(252,234,187,1) 
		0%,rgba(252,205,77,1) 
		50%,rgba(248,181,0,1) 51%,
		rgba(251,223,147,1) 100%);
	font-family: Helvetica, sans-serif;
	text-shadow: 2px 2px 0px hsl(0,75%,0%);
}

/*--- p ---*/
p {
	text-indent: 20px;
	font-family: Arial, sans-serif;
	border: 2px; 
	border: solid #ff8114;
	border-radius: 20px; 
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 5px 5px 5px #777777;
	-moz-box-shadow: 5px 5px 5px #777777;
	-webit-box-shadow: 5px 5px 5px #777777;
	margin-top: 1.5em;
  	margin-right: 5em;
  	margin-bottom: 1.5em;
  	margin-left: 5em;
  	padding: 6px;
	background: #fae0bf;
}

/*link psudeo-classes*/
a:link {
	color: #1526de;
	text-decoration: none;
}
a:visited {
	color: #de1809;
}
a:hover {
	color: orange;
}
a:active{
	color: black;
}

/*list-style*/
ul {
	text-align: center;
	list-style: inside square;	
}
li {
	font-size: 1.25em;
	display: inline-block;
	margin-right: 10px;
}
/*add drop shadow to stron & #color*/
strong{
	text-shadow: 2px 1px 0px white;
	color: #1526de;
}





