/*css for final html*/
/*Name: Juan E.Mason
Dec 19, 2013*/
/*Validated Dec 19, 2013*/


header, section, footer, aside, nav, article, figure, figcaption {
display: block;}

/*body*/
body{
	background: #F2DABD;
	width: 100%;
}

/*h1*/
h1 {
	font-family: Impact, Helvetica, Arial, sans-serif;
	font-size: 3.5em;
	word-spacing: .25em;
	text-shadow: 2px 2px 0px #F996A6;
	text-align: center;
	color: #de1809;
}

/*link psudeo-classes*/
a:link {
	color: #1526de;
	text-decoration: none;
}
a:visited {
	color: #de1809;
}
a:hover {
	color: orange;
}
a:active{
	color: black;
}

/*list-style*/
ul {
	text-align: center;
	list-style: inside square;	
}
li {
	font-size: 1.25em;
	display: inline-block;
	margin-right: 10px;
}