/*css for color html*/
/*Name: Juan Mason
Dec 4, 2013*/


/*---font type and cloro for h1---*/
h1{
	font-family: Impact; sans-serif;
	color: white;
}

/*---#color for h2 bg and font--*/

h2{
	border-width: 2px 0px;
	background-color: #ff8114;
	color: white;
}

/*---body font & family*/
body{
	font-family: Arial, Helvetica, sans-serif;
	background: #f5cd13;
}